.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  row-gap: 50px;
  width: 90%;
  margin: auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  width: 260px;
  height: 271px;
}
.logo {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
header {
  width: 100%;
  height: 119px;
  border: 1px solid #000000;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 119px;
  margin: auto;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 100px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.header-input {
  width: 336px;
  height: 41px;
  border: 1px solid #4b4b4b;
  border-radius: 4px;
}
.search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 390px;
  top: 56px;
}
.section1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 120px;
  margin: auto;
  list-style: none;
  gap: 20px;
}
.section1 ul li a {
  text-decoration: none;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.section1 div {
  border: 0.5px solid #eaeaea;
  border-radius: 10px;
  width: 109px;
  height: 34px;
  text-align: center;
}
.grid-div1 {
  display: flex;
  justify-content: space-between;
}
.grid-div2 {
  display: grid;
  grid-template-columns: auto;
}
.grid-div2 .pannel1,
.pannel2,
.pannel3,
.pannel4 {
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}

/* panel1 */
.pannel1 {
  background: #d4ecdd;
  border: solid 1px #d4ecdd;
  display: flex;
  justify-content: space-between;
}
h6 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: #ffffff;
  opacity: 0;
}
h6:hover {
  opacity: 100;
  cursor: pointer;
}

.pannel2 {
  background-color: #345b63;
  border: solid 1px #345b63;
  display: flex;
  justify-content: space-between;
}
.pannel3 {
  background: #152d35;
  border: solid 1px #152d35;
  display: flex;
  justify-content: space-between;
}
.pannel4 {
  background: #112031;
  border: solid 1px #112031;
  display: flex;
  justify-content: space-between;
}
.pannel-ending {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  height: 40px;
}
.mini-div {
  display: flex;
  gap: 25px;
}
.items {
  display: flex;
  justify-content: space-between;
  height: px;
}
.items h6 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
}

/* panel2 */
.pannel12 {
  background: #f9f3df;
  border: solid 1px #f9f3df;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel22 {
  background: #cdf2ca;
  border: solid 1px #cdf2ca;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel32 {
  background: #ffdefa;
  border: solid 1px #ffdefa;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel42 {
  background: #ffc898;
  border: solid 1px #ffc898;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

/* panel3 */
.pannel13 {
  background: #3330e4;
  border: solid 1px #3330e4;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel23 {
  background: #f637ec;
  border: solid 1px #f637ec;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel33 {
  background: #fbb454;
  border: solid 1px #fbb454;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel43 {
  background: #faea48;
  border: solid 1px #faea48;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
/* panel4 */
.pannel14 {
  background: #cdf0ea;
  border: solid 1px #cdf0ea;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel24 {
  background: #f9f9f9;
  border: solid 1px #f9f9f9;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel34 {
  background: #f6c6ea;
  border: solid 1px #f6c6ea;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel44 {
  background: #faf4b7;
  border: solid 1px #faf4b7;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
/* panel5 */
.pannel15 {
  background: #d9d7f1;
  border: solid 1px #d9d7f1;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel25 {
  background: #fffdde;
  border: solid 1px #fffdde;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel35 {
  background: #e7fbbe;
  border: solid 1px #e7fbbe;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.pannel45 {
  background: #ffcbcb;
  border: solid 1px #ffcbcb;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
/* panel6 */
.pannel16 {
  background: #990000;
  border: solid 1px #990000;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel26 {
  background: #ff5b00;
  border: solid 1px #ff5b00;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel36 {
  background: #d4d925;
  border: solid 1px #d4d925;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel46 {
  background: #ffee63;
  border: solid 1px #ffee63;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel7 */
.pannel17 {
  background: #b91646;
  border: solid 1px #b91646;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel27 {
  background: #dfd8ca;
  border: solid 1px #dfd8ca;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel37 {
  background: #fbf3e4;
  border: solid 1px #fbf3e4;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel47 {
  background: #105652;
  border: solid 1px #105652;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel8 */
.pannel18 {
  background: #cdf0ea;
  border: solid 1px #cdf0ea;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel28 {
  background: #f9f9f9;
  border: solid 1px #f9f9f9;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel38 {
  background: #f6c6ea;
  border: solid 1px #f6c6ea;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel48 {
  background: #faf4b7;
  border: solid 1px #faf4b7;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel9 */
.pannel19 {
  background: #ffcc1d;
  border: solid 1px #ffcc1d;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel29 {
  background: #0b4619;
  border: solid 1px #0b4619;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel39 {
  background: #116530;
  border: solid 1px #116530;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel49 {
  background: #e8e8cc;
  border: solid 1px #e8e8cc;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel10 */
.pannel110 {
  background: #00ffab;
  border: solid 1px #00ffab;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel210 {
  background: #14c38e;
  border: solid 1px #14c38e;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel310 {
  background: #b8f1b0;
  border: solid 1px #b8f1b0;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel410 {
  background: #e3fcbf;
  border: solid 1px #e3fcbf;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel11 */
.pannel111 {
  background: #49ff00;
  border: solid 1px #49ff00;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel211 {
  background: #fbff00;
  border: solid 1px #fbff00;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel311 {
  background: #ff9300;
  border: solid 1px #ff9300;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel411 {
  background: #ff0000;
  border: solid 1px #ff0000;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
/* panel12 */
.pannel112 {
  background: #06283d;
  border: solid 1px #06283d;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel212 {
  background: #1363df;
  border: solid 1px #1363df;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel312 {
  background: #1363df;
  border: solid 1px #1363df;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
.pannel412 {
  background: #dff6ff;
  border: solid 1px#DFF6FF;
  width: 257px;
  height: 51.9px;
  border-radius: 4px;
}
